

#game-screen {
    border-style: solid;
    border-color: rgba(86, 53, 117, 0.953);
    border-width: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 14px 17px rgb(122, 145, 214);
    background-image: url('../../assets/cavefloor.png');
}



#scoreboard {
    margin-bottom: auto;
    border: 2px solid black;
    width: 230px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(158, 201, 239, 0.779);
    border-radius: 10px;
    border-width: 5px;
    box-shadow: 0px 0px 14px 17px rgb(122, 145, 214);

    font-family: rainyheart;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    border-color: rgba(86, 53, 117, 0.953);
}
#scoreboard p {
    margin-top: 10px;
}
#scoreboard div {
    margin-top: 10px;
    color: red;
}

#instructions {
    border: 2px solid black;
    width: 230px;
    height: 350px;
    background-color: rgba(158, 201, 239, 0.779);
    border-color: rgba(86, 53, 117, 0.953);
    border-width: 5px;
    box-shadow: 0px 0px 14px 17px rgb(122, 145, 214);

    border-radius: 10px;
    font-family: rainyheart;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
#instructions p {
    text-decoration: underline;
    margin-top: 10px;
    vertical-align: center;
}
#instructions h5 {
    text-decoration: underline;
    margin-bottom: 5px;
}
.side {
    // border: 2px solid greenyellow;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: space-evenly;
}

#container {
    // border: 10px solid red;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

