#game-over-modal {
    position: fixed;
    border: solid 5px black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 26, 26, 0.8);
}

#game-over-modal.content {
    border: solid 5px red;
    display: flex;
}

#game-over-modal h1 {
    border: solid 5px orange;

}

#game-over-modal button {
    width: 50%;
    border: solid 5px greenyellow;
    
}
#game-over-modal h3 {
    text-decoration: none;
    margin-top: 28px;
    margin-bottom: 88px;
}
h2 {
    margin-top: 25px;
    font-family: wiz;
    font-size: 50px;
    color: rgb(211, 36, 9);
    text-align: center;
}

h4 {
    margin-top: 50px;
    text-align: center;
    font-family: wiz;
    font-size: 35px;
    color: rgb(103, 178, 103);
    cursor: pointer;
}
h4:hover {
    color: rgb(224, 234, 243);
}