h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: wiz;
    font-size: 75px;
    color: rgb(111, 42, 167);
    text-align: center;
    text-shadow: 4px 4px 3px rgb(238, 142, 236);
}

#links {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    right: 0px;
    margin: 25px 25px;
}
#volume-control{
    font-size: 30px;
    position: fixed;
    // top: 176px;
    // left: 203px;
    color: white;
    top: 0px;
    left: 0px;
    margin: 25px 0px 0px 25px;
}

#about:hover{
    color:rgb(111, 42, 167)
}

#about {
    text-decoration: none;
    font-family: wiz;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgb(250, 204, 249);
    margin-top: 6px;
}

#github {
    margin-left: 20px;
    margin-right: 20px;
}

#author {
    display: flex;
    justify-content: center;
    font-family: wiz;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgb(238, 142, 236);
    margin-top: 20px;
}