//need to include outside scss files in order for this entry file to run
@import "./src/styles/reset.scss";
@import "./styles/start-modal.scss";
@import "./styles/navbar.scss";
@import "./styles/canvas.scss";
@import "./styles/gameover.scss";


@font-face {
    font-family: wiz;
    src: url("../assets/04B_30__.woff");
}
@font-face {
    font-family: rainyheart;
    src: url("../assets/rainyhearts.woff")
}

body {
    background-image: url('../assets/spooky-trees.png');
    background-position: left;
}
html, body {margin: 0; height: 100%; overflow: hidden}
// canvas {
//     opacity: 0.5;
// }